name: Build
on:
  push:
    branches:
      - master
      - branch-*
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: github-ubuntu-latest-s
    name: Build and Analyze (Next)
    permissions:
      id-token: write
      contents: write
    steps:
      - &git-checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - &install-go
        uses: jdx/mise-action@5ac50f778e26fac95da98d50503682459e86d566 # v3.2.0
        with:
          version: 2025.7.12

      - name: Get secrets from Vault
        id: secrets
        uses: SonarSource/vault-action-wrapper@v3
        with:
          secrets: |
            development/kv/data/next url | SONAR_HOST_URL;
            development/kv/data/next token | SONAR_TOKEN;

      - &get-build-number
        name: Get build number
        id: build_number
        uses: SonarSource/ci-github-actions/get-build-number@v1

      - &cache-go-modules
        name: Cache Go modules
        uses: SonarSource/ci-github-actions/cache@v1
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: go-modules-${{ runner.os }}-${{ hashFiles('src/go.sum') }}
          restore-keys: |
            go-modules-${{ runner.os }}-

      - &build-and-test
        name: Build and test
        working-directory: src
        env:
          BUILD_NUMBER: ${{ steps.build_number.outputs.build-number }}
        run: |
          go build -v ./...
          go test -v ./... -coverprofile=coverage.out -json > test-report.out

      - name: SonarQube scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ fromJSON(steps.secrets.outputs.vault).SONAR_HOST_URL }}
          BUILD_NUMBER: ${{ steps.build_number.outputs.build-number }}
          GITHUB_REPO: ${{ github.repository }}
        with:
          args: >
            -Dsonar.projectKey=SonarSource_go
            -Dsonar.organization=sonarsource
            -Dsonar.analysis.buildNumber=${{ env.BUILD_NUMBER }}
            -Dsonar.analysis.repository=${{ github.repository }}
            -Dsonar.cpd.exclusions=**
            -Dsonar.go.duration.statistics=true
            -Dsonar.go.coverage.reportPaths=coverage.out
            -Dsonar.go.tests.reportPaths=test-report.out
            -Dsonar.test.inclusions=**/*_test.go
            --debug

      - name: Upload test results
        if: always() && ! cancelled()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: test-results
          path: '**/test-report.out'

      - name: Upload coverage report
        if: always() && ! cancelled()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: test-results
          path: '**/coverage.out'

  shadow_scan_sqc_eu:
    runs-on: github-ubuntu-latest-s
    name: Shadow Scan (SonarCloud EU)
    needs: build
    if: (github.event_name == 'schedule' && github.ref == 'refs/heads/master') || contains(github.event.pull_request.labels.*.name, 'shadow_scan')
    permissions:
      id-token: write
      contents: read
    steps:
      - *git-checkout
      - *install-go

      - name: Get secrets from Vault
        id: secrets
        uses: SonarSource/vault-action-wrapper@v3
        with:
          secrets: |
            development/kv/data/sonarcloud token | SONAR_TOKEN;

      - *get-build-number
      - *cache-go-modules
      - *build-and-test
      - name: SonarQube scan
        uses: sonarsource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6.0.0
        env:
          SONAR_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io
          BUILD_NUMBER: ${{ steps.build_number.outputs.build-number }}
          GITHUB_REPO: ${{ github.repository }}
        with:
          args: >
            -Dsonar.projectKey=SonarSource_go
            -Dsonar.organization=sonarsource
            -Dsonar.analysis.buildNumber=${{ env.BUILD_NUMBER }}
            -Dsonar.analysis.repository=${{ github.repository }}
            -Dsonar.cpd.exclusions=**
            -Dsonar.go.duration.statistics=true
            -Dsonar.go.coverage.reportPaths=coverage.out
            -Dsonar.go.tests.reportPaths=test-report.out
            -Dsonar.test.inclusions=**/*_test.go
            --debug

  shadow_scan_sqc_us:
    runs-on: github-ubuntu-latest-s
    name: Shadow Scan (SonarCloud US)
    needs: build
    if: (github.event_name == 'schedule' && github.ref == 'refs/heads/master') || contains(github.event.pull_request.labels.*.name, 'shadow_scan')
    permissions:
      id-token: write
      contents: read
    steps:
      - *git-checkout
      - *install-go

      - name: Get secrets from Vault
        id: secrets
        uses: SonarSource/vault-action-wrapper@v3
        with:
          secrets: |
            development/kv/data/sonarqube-us token | SONAR_TOKEN;

      - *get-build-number
      - *cache-go-modules
      - *build-and-test

      - name: SonarQube scan
        uses: sonarsource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6.0.0
        env:
          SONAR_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarqube.us
          BUILD_NUMBER: ${{ steps.build_number.outputs.build-number }}
          GITHUB_REPO: ${{ github.repository }}
        with:
          args: >
            -Dsonar.projectKey=SonarSource_go
            -Dsonar.organization=sonarsource
            -Dsonar.analysis.buildNumber=${{ steps.build_number.outputs.build-number }}
            -Dsonar.analysis.repository=${{ github.repository }}
            -Dsonar.cpd.exclusions=**
            -Dsonar.go.duration.statistics=true
            -Dsonar.go.coverage.reportPaths=coverage.out
            -Dsonar.go.tests.reportPaths=test-report.out
            -Dsonar.test.inclusions=**/*_test.go
            --debug

